<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= keywords %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="baidu-site-verification" content="FQ6eOEi529" />
  <meta name="google-site-verification" content="MAGtB2GHGYz6jBJi37SzGuOeIaKWw0QolEgWWQ6uChI" />

  <!-- 网页标签标题 -->
  <title><%= title %></title>
  <link rel="shortcut icon" href="/images/wuhan2020-mini.png" />
  <link rel="stylesheet" href="<%= rootPath %>/build/<%= page %>.css" />
  <style>
    .gray-page {
      -moz-filter: grayscale(100%) !important;
      -webkit-filter: grayscale(100%) !important;
      filter: gray !important; /* IE6-9 */
      filter: grayscale(100%) !important;
    }
  </style>
</head>

<body>
  <div id="root"><%- __html %></div>
  <% if (env === 'prod') { %>
    <script src="/lib/react.production.min.js"></script>
    <script src="/lib/react-dom.production.min.js"></script>
  <% } else { %>
    <script src="/lib/react.development.js"></script>
    <script src="/lib/react-dom.development.js"></script>
  <% } %>

  <script>
    window.rootPath = '<%= rootPath %>';

  </script>
  <script src="<%= rootPath %>/build/<%= page %>.js"></script>

  <script type="text/javascript" src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b6e4b6fa9a64719756faaf4e9b314bb7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

    function googleTranslateElementInit() {
      new google.translate.TranslateElement({}, 'google_translate_element');
    }
  </script>
  <% if (env === 'prod') { %>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <% } %>
  <script type="text/javascript">
    const html_dom = document.getElementsByTagName('html')[0];
    
    const starTime = "April 4 2020 00:00:00 GMT+08:00";
    const endTime = "April 4 2020 23:59:59 GMT+08:00";
    const testStart = "April 3 2020 22:10:10 GMT+08:00";
    const testEnd = "April 3 2020 22:12:10 GMT+08:00";
    let intervalId = '';
    const getTimeDiff = (time) => new Date().getTime() - new Date(time).getTime();
    function getTimeOffset(start, end) {
      let result = {isStart: false, isEnd: false};
      let endOffsetMs = getTimeDiff(end);
      isEnd = endOffsetMs >= 0;
      if (end && endOffsetMs > 0) {
        return {...result, isEnd};
      }
      let startOffsetMs = getTimeDiff(start);
      let isStart = startOffsetMs >= 0;
      return {...result, isStart};
    };

    intervalId = setInterval(()=> {
      let offset = getTimeOffset(testStart, testEnd);
      if (getTimeDiff(testEnd) >= 0) {
        offset = getTimeOffset(starTime, endTime);
      }
      html_dom.classList.toggle('gray-page', offset.isStart);

      if (offset.isEnd) {
        if (intervalId && getTimeDiff(endTime) >= 0) {
          clearInterval(intervalId);
        }
        if (html_dom.classList.contains('gray-page')) {
          html_dom.classList.remove('gray-page');
        }
      }
    }, 2000);

  </script>
</body>

</html>
